<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/chat.style.css">
</head>
<body>

    <div class="chat_container">

        <div class="header_container">
            <img src="/static/image/Ic332on.png" class="online_img">
            <div class="chat_id">chat ID</div>
        </div>


        <div class="body_container">
            <div class="message your_message">Hello!</div>
        

            <div class=" message other_message">Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff</div>
        

            <div class="your_message">Hellofffffffffffffffffffffffffffffffffffffffffffffff</div>
    

            <div class=" message other_message">Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
                Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
            </div>


            <div class=" message other_message">Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
                Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
            </div>


            <div class=" message other_message">Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
                Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
            </div>

            <div class=" message other_message">Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
                Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
            </div>


            <div class=" message other_message">Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
                Ola amigo's fdfdsfsffffffffffffffffffffffffff   ffffffffffffffffffffffffffff ffffffffffffffffffffffff
            </div>

        </div>

        <div class="footer_chat">
            <input class="input_message">
            <button class="submit_message"><img src="/static/image/Ic323on.png" class="submit_message_image"></button>
        </div>
    
    </div>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="/static/script/chat.script.js"></script>
</body>
</html>