<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.style.css">
</head>
<body>

    <div class="registration_container">
        <div class="registration_header">
            <p class="auth_type"> <a href="/auth/login" class="auth_link">Войти</a>  <a href="/auth/registration" class="auth_link">Зарегистрироваться</a> </p>
            <hr class="hr_auth_type">
        </div>


        <div class="registration_body">
            <div class="input_form">
                <input class="input_panel" placeholder="Имя или почта" type="text" minlength="2" maxlength="16" id="input_name">
                <p class="help_block">Латинские буквы и цифры</p>
            </div>


            <div class="input_form">
                <input class="input_panel" placeholder="Пароль" type="password" id="input_password" minlength="6" maxlength="24">
                <button id="show_password" type="button"><img src="/static/image/222w1.png" class="eye_img"></button>
                <p class="help_block">Минимум 6 символов</p>
                
                <script src="/static/script/show_password.script.js"></script>
            </div>
        </div>


        <div class="registration_footer">
            <button type="submit" class="submit_registration" disabled>Войти</button>
        </div>

        <script src="/static/script/login.check_all_input_value.script.js"></script>
        
    </div>
    
    <script src="/static/script/login.submit_user_info.script.js"></script>
</body>
</html>