<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    ожидание

    <form action="/queue/search" method="post" id="autoForm">

    </form>

    <script>
        // async function search_for_an_interlocutor() {
        //     await fetch('/queue/search',{
        //         method: 'POST'
        //     })
        // }

        // search_for_an_interlocutor()

        document.getElementById('autoForm').submit();
    </script>
</body>
</html>